@import "tailwindcss";
@plugin "daisyui";

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.scrBar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.scrBar::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.scrBar::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;
}

body {
    scrollbar-width: none;
}

.scrBar {
    scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
html {
    -ms-overflow-style: none;
}

body {
    -ms-overflow-style: none;
}

.scrBar {
    -ms-overflow-style: none;
}